@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border: none;
  outline: none;
}

.editbutton{
  background: green;
  padding: 3px;
  color: white;
}

.delbutton{
  background: red;
  margin-left: 5px;
  padding: 3px;
  color: white;
}



/* error notice */

.error-notice {
  margin: 1rem 36rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid #e07c7c;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d6d6;
}
.error-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #df4343;
  color: #ffffff;
}

.message-notice {
  margin: 1rem 36rem 1rem 1rem;
  padding: 0.5rem;
  border: 1px solid green;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  color: white;
}

.message-notice button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  color: #ffffff;
}

.cancel{
  background: green;
  padding: 3px;
}

.delmodal{
  margin-left: 1.1rem;
  margin-top: 3px;
}

.yes{
  background: red;
  padding: 3px;
  margin-left: 6px;
}


/* media queries */

@media screen and (max-width: 550px) {
  #header .title {
    font-size: 1.2rem;
  }
  #header .auth-options button {
    padding: 0 0.5rem;
    font-size: 0.9rem;
  }
}
